<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springcloud.dao.PaymentDao">
    <resultMap id="BaseResultMap" type="com.atguigu.springcloud.entities.Payment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="serial" jdbcType="VARCHAR" property="serial"/>
    </resultMap>

    <sql id="Base_Column_list">
        id,serial
    </sql>
    <select id="getPaymentById" parameterType="long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_list"/>
        from payment
        where id=#{id}
    </select>

    <insert id="create" parameterType="com.atguigu.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values(#{serial})
    </insert>

</mapper>